.login {
	border: 1px solid #eee;
	width: 100%;
	padding: 20px 10px;
	margin-top: 70px;
}
.lock {
	position: absolute;
	opacity: 0.3;
}
.input-ln,
.input-fn {
	width: 49%;
	float: left;
	height: 29px;
	margin-right: 1px;
}
.login-error {
	color: #dc3545!important;
    background: #fceee8;
    border: 1px solid #f6c8b5;
    padding-left: 5px;
}
.register-success {
	color: #28a745!important;
    padding-left: 5px;
    background: #E8F5E9;
    border: 1px solid #C8E6C9;
}
