.hero-spacer {
    margin-top: 50px;
}
.hero-feature {
    margin-bottom: 10px;
}
.header-margin {
    margin-top: 51px;
}
.header-margin-top {
    margin-top: 80px;
}
.padding-slider {
    padding-top: 54px;
}
body {
    background: #f4f4f4;
}
body ,
input[type="text"], 
input[type="email"], 
input[type="password"]  {
    font-size: 12px;
}
/*menu	home page */
.navbar-nav>li>.dropdown-menu-custom {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #405e9e;
}
.dropdown-menu-custom>li>a {
    color: #fff;
}
ul.dropdown-menu-custom li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
.dropdown-menu-custom>li>a:focus, 
.dropdown-menu-custom>li>a:hover {
    color: #fff;
    text-decoration: none;
    background: #29487d;

}

.navbar-inversem
.navbar-nav>.open>a, 
.navbar-inversem 
.navbar-nav>.open>a:focus, 
.navbar-inversem 
.navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #29487d;
}
ul.dropdown-menu-custom li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.dropdown-menu-custom {
   border-radius: 0;
   padding: 0;
}
.navbar-inverse {
    background: #4267b2;
    border-color: #4267b2;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #9d9d9d;
    margin-top: -16px;
}
.carousel-indicators .active {
    width: 50px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}
.thumbnailm .caption {
    padding: 9px;
    color: #333;
    box-shadow: 0 0 1px 1px hsla(0,0%,7%,.1), 0 3px 1px 0 hsla(0,0%,7%,.1);
}
.thumbnailm .caption:hover,
.thumbnailm .caption:focus
 {
    box-shadow: 0 2px 8px 2px hsla(0,0%,7%,.15);
}


/* pagination */
.pagination-custom>li>a, .pagination-custom>li>span {
    margin: 0 2px;
    padding: 7px 15px;
    border: 1px solid #ddd;
    background: #4267b2;
    color: #fff;
}
.btn-cus {
    color: #E91E63;
    border: 1px solid #E91E63;
}
.btn-all-cat {
    color: #06b99b;
    border: 1px solid #06b99b;
}
.btn-trade {
    color: #FFC107;
    border: 1px solid #FFC107;
}
.btn-eli {
    color: #9C27B0;
    border: 1px solid #9C27B0;
} 
.btn-group-menu {
    height: 55px;
    background: #fff;
}
.group-menu {
    border-bottom: 1px solid #eee;
}

/* public stype */
.w-100 {
    width: 100%!important;
}
hr {
	margin-top: 10px;
    margin-bottom: 10px;
}
a, p, h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web", sans-serif;
}
.btn-default-custom {
    color: #fff;
    background-color: #4267b2;
    border-color: #4267b2;
}
.border-radius-none {
	border-radius: 0;
}
.background-cool-green {
    background: #06b99b;
}
.background-black {
    background-color: #4267b2;
    color: #fff;
}
.background-white {
    background: #fff;
}
.margin-button-none {
	margin-bottom: 0;
}
.padding-none {
	padding: 1px;
}
.bold {
    font-weight: bold;
}
.cool-green {
	color: #4267b2;
}
.gray {
	color: #888;
}

.color-white {
    color: #fff;
}
.text-decoration-none {
    text-decoration: none !important;
}
.well-custom {
    margin-bottom: 0;
}
.btn-add-card {
    padding: 2px 10px;
}
.search-fix {
    position: fixed;
    z-index: 1;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.padding-custom {
    padding-left: 10px;
    padding-right: 10px;
}
/* Responsive Styles for various devices */
@media (min-width: 1600px) {

}

@media (max-width: 1199px) {
   
}

@media (max-width: 991px) {
  
}

@media (max-width: 767px) {
   
}

@media (max-width: 479px) {
    .w-100 {
        width: 98%!important;
        font-size: 9px;   
    }
    .custom-padding-col {
        padding-right: 0;
        padding-left: 0;
    }
    .fa-2x {
        font-size: 1em;
    }
    .btn-group-menu {
        padding: 0px;
        height: 25px;
    }
}

@media (max-width: 360px) {
    .w-100 {
        width: 98%!important;
        font-size: 8px;   
    }
    .custom-padding-col {
        padding-right: 0;
        padding-left: 0;
    }
    .fa-2x {
        font-size: 1em;
    }
    .btn-group-menu {
        padding: 0px;
        height: 25px;
    }
}
