.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 10px;
}
.header-margin {
    margin-top: 70px;
}
/*menu	home page */
.navbar-nav>li>.dropdown-menu-custom {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #242A30;
}
.dropdown-menu-custom>li>a {
    color: #fff;
}
ul.dropdown-menu-custom li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
.dropdown-menu-custom>li>a:focus, 
.dropdown-menu-custom>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #080808;
}
ul.dropdown-menu-custom li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.dropdown-menu-custom {
   border-radius: 0;
   padding: 0;
}
.navbar-inverse {
    background-color: #242A30;
    border-color: #242A30;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #9d9d9d;
    margin-top: -16px;
}
.carousel-indicators .active {
    width: 50px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

/* pagination */
.pagination-custom>li>a, .pagination-custom>li>span {
    margin: 0 2px;
    padding: 7px 15px;
    border: 1px solid #ddd;
    background: #06b99b;
    color: #fff;
}

/* public stype */
hr {
	margin-top: 10px;
    margin-bottom: 10px;
}
a, p, h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web", sans-serif;
}
.btn-default-custom {
    color: #fff;
    background-color: #06b99b;
    border-color: #06b99b;
}
.border-radius-none {
	border-radius: 0;
}
.background-cool-green {
    background: #06b99b;
}
.background-black {
    background-color: #242A30;
    color: #fff;
}
.background-white {
    background: #fff;
}
.margin-button-none {
	margin-bottom: 0;
}
.padding-none {
	padding: 1px;
}
.bold {
    font-weight: bold;
}
.cool-green {
	color: #06b99b;
}
.gray {
	color: #888;
}

.color-white {
    color: #fff;
}
.text-decoration-none {
    text-decoration: none !important;
}
.well-custom {
    margin-bottom: 0;
}
